<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">email: </label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="loginUser.email"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">senha: </label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="loginUser.password"
          name="description"
        />
      </div>

      <button (click)="login()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted" style="width: 400px; margin: auto;">
      <h4>agora você está logado!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
